/obj
/.vs
/bin

~$*.xlsx
__pycache__
.ropeproject

*.tiled-project
*.tiled-session

client/ClientShared/Json/*.json
client/ClientShared/Json/Crc.txt
server/ServerShared/Json/*.json
server/ServerShared/Json/Crc.txt
client/ClientShared/Json/*.json
client/ClientShared/Json/Crc.txt
server/ServerShared/Json/*.json
server/ServerShared/Json/Crc.txt
